:root {
  --primary-bg-color: #011936;
  /* blue */
  --secondary-bg-color: #508bd4;
  /* gray */
  --primary-text-color: #feefdd;
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  -webkit-font-smoothing: antialiased;
}

body,
input,
button {
  font-size: 16px;
}

button {
  cursor: pointer;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
}


a {
  text-decoration: none;
  color: inherit;
}
section{
  padding: 0 60px;
}
/* Header */
header {
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: white;
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
  font-weight: 600;
}

nav {
  /* height: 3rem; */
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 60px;
}

nav ul {
  display: flex;
  justify-self: flex-end;
  list-style: none;
  align-items: center;
  padding: 1.5rem 0;
}

nav li {
  position: relative;
  margin-left: 2rem;
}

nav a {
  color: inherit;
  text-decoration-line: none;
}

.badge {
  position: absolute;
  background-color: var(--secondary-bg-color);
  top: -9px;
  right: -11px;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  scale: 0;
  transition: ease;
  transition-duration: 100ms;
}

.badge.active {
  scale: 1;
  opacity: 1;
}

.badge.disabled {
  scale: 0;
  opacity: 0;
}

/* Home Page */
.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--primary-bg-color);
}

.hero-text {
  text-align: center;
  margin-bottom: 2rem;
}

.hero-text h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.hero-text p {
  font-size: 1.2rem;
}
.hero-text span{
  color: var(--secondary-bg-color);
}

.description {
  max-width: 800px;
  text-align: center;
  margin: 0 auto;
  padding: 2rem;
  border-radius: 10px;
}

.description h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.description p {
  font-size: 1.1rem;
  line-height: 1.5;
}
.about span{
  color: var(--secondary-bg-color);
}

/* Media Queries */
@media (max-width: 768px) {

  /* Header */
  nav {
    padding: 0 20px;
  }

  section {
    padding: 0 20px;
  }

  /* Home Page */
  .hero-text h1 {
    font-size: 2.5rem;
  }

  .hero-text p {
    font-size: 1rem;
  }

  .description {
    padding: 1rem;
  }

  .description h2 {
    font-size: 1.5rem;
  }
  
  .description p {
    font-size: 1rem;
  }
}

@media (max-width: 480px) {

  /* Header */
  nav {
    padding: 0 10px;
  }

  section{
    padding: 0 10px;
  }

  nav ul {
    flex-direction: column;
    align-items: flex-end;
    padding: 0;
  }

  nav li {
    margin: 0 0 1rem 0;
  }

  /* Home Page */
  .hero-text h1 {
    font-size: 2rem;
  }

  .hero-text p {
    font-size: 0.9rem;
  }

  .description {
    padding: 0.5rem;
  }

  .description h2 {
    font-size: 1.2rem;
  }

  .description p {
    font-size: 0.9rem;
  }
}
/* Stocks */
.stock-info {
	display: flex;
	justify-content: center;
}

.stocks>.hero-text{
  text-align: start;
}
.search-bar-error {
  color: red;
  font-size: 14px;
  margin-top: 4px;
}

/* Quick Links Section */
.quick-links{
  display: flex;
  margin:1rem 0;
  justify-content: center;
  align-items: center;
}

.quick-links>h3{
  pointer-events: none;
}
.quick-link-button {
  margin: 0rem 2rem;
  padding: 10px 20px;
  font-size: 16px;
  background-color: var(--secondary-bg-color);
  color: var(--primary-text-color);
  border: none;
  border-radius: 3px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
/* End of Quick Links Styling */

/* End of Stocks */

/* Result Page Components */
.result-page-component {
  background-color: var(--secondary-bg-color);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 0 0 1px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  margin: 2rem;
  padding: 1.5rem;
}

.result-page-component>span{
 font-style: italic;
}
.news{
  margin-top: 1rem;
}
.news h1{
  margin-bottom: 1rem;
  text-decoration: underline;

}

.news a{
  font-size: 12px;
  text-decoration: underline;
}
.news .summary{
  margin-top: 1rem;
}
.news>ul>li{
  margin-bottom: 1rem;
}
/* End of Result Page Components */

/* Login Page */
.login-page{
  display: flex;
  justify-content: center;
  height: 100vh;
  flex-direction: column;
}
.login-title{
  text-align: center;
  margin-bottom: 10px;
}
.login-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  }
  
  .login-form-input {
  padding: 10px;
  margin-bottom: 10px;
  font-size: 16px;
  border: none;
  border-radius: 3px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 300px;
  }
  
  .login-form-button {
  padding: 10px 20px;
  margin-top: 10px;
  margin-right:10px;
  font-size: 16px;
  background-color: var(--secondary-bg-color);
  color: #fff;
  border: none;
  border-radius: 3px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  }
  
  .login-form-button:hover {
  background-color: var(--secondary-bg-color);
  }
  
  .login-form-error {
  color: red;
  }
  
  /* Media queries for smaller screens */
  @media screen and (max-width: 768px) {
  .login-form-input {
  width: 100%;
  }
  
  .login-form-button {
  width: 100%;
  }
  }
  
  /* Media queries for larger screens */
  @media screen and (min-width: 992px) {
  .login-form-input {
  width: 400px;
  }
  
  .login-form-button {
  padding: 12px 24px;
  }
  }
    

/* End of Login Page */

/* Stock Data Box */
.box {
  margin:1rem 0;
  display: flex;
  flex-direction: column;
  background-color: #f1f1f1;
  color: #011936;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  width: 300px;
}

.title {
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 10px;
}

.content {
  display: flex;
  flex-wrap: wrap;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 5px;
  width: 50%;
}

.row span {
  font-weight: bold;
  margin-right: 5px;
}